.aa-settings-app {
	max-width: 720px;

	.components-panel__body {
		background: #fff;
		margin-bottom: 12px;
	}

	.components-notice {
		margin: 0 0 16px;
	}

	.components-button.is-primary {
		margin-top: 8px;
	}
}
